
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125vw;
  height: 100vh;
}

.EditUserModal{
 padding: 15px;
 display: inline-block;
 text-align: center;
 margin: 0 auto;
}

.ButonModal{
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 110px; 
  margin-left: 35%;
}