@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
 font-family: 'Inter'
}

h1 {
  font-weight: 700;
}

.btn {
  background-color: #E5E5E5;
  color: #000000;
  font-family: Inter;
  font-style: normal;
}

.btn-black {
  background-color: #000000;
  color: #E5E5E5
}

input {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px; 
  border: none; 
  margin: 5px 0;
}




